################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BarBeer/bin/Debug/net5.0
/.vs/BarBeer
/BarBeer/obj
